
<div class="container">

    <div class="page-header">
    <h1>Query<small></small></h1>
    </div>


    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10">
            <form class="form" role="form" ng-submit="sendPost()">

                <!--GENERAL-->
                <div class="row">
                    <div class="col-md-12">
                        <div class="well">
                            <div class="row">
                                <div class="col-md-12">
                                    <h3 class="text-muted">GENERAL </h3>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="well" style="background-color:#272b30">

                                        <div class="form-group">
                                            <label class="control-label title_label">Sequence Title</label>
                                            <input type="text" ng-model="sequence_title" class="form-control" placeholder="" />
                                        </div>

                                        <div class="form-group">
                                            <label class="control-label title_label">Capture Date</label>
                                            <div class="row">
                                                <div class="col-md-1"><label class="control-label">From:</label></div>
                                                <div class="col-md-5">
                                                    <!--<input type="text" ng-model="from_date" class="form-control" placeholder="YYYY-MM-DD" />-->
                                                    <div class="input-group">
                                                        <input type="text" placeholder="YYYY-MM-DD" class="form-control" uib-datepicker-popup ng-model="from_date" is-open="fromDatePopup.opened" datepicker-options="fromDateOptions" ng-required="false" close-text="Close" />
                                                        <span class="input-group-btn">
                                                            <button type="button" class="btn btn-default" ng-click="openFromDate()"><i class="glyphicon glyphicon-calendar"></i></button>
                                                        </span>
                                                    </div>
                                                </div>

                                                <div class="col-md-1"><label class="control-label">To:</label></div>
                                                <div class="col-md-5">
                                                    <!--<input type="text" ng-model="to_date" class="form-control" placeholder="YYYY-MM-DD" />-->
                                                    <div class="input-group">
                                                        <input type="text" placeholder="YYYY-MM-DD" class="form-control" uib-datepicker-popup ng-model="to_date" is-open="toDatePopup.opened" datepicker-options="toDateOptions" ng-required="false" close-text="Close" />
                                                        <span class="input-group-btn">
                                                            <button type="button" class="btn btn-default" ng-click="openToDate()"><i class="glyphicon glyphicon-calendar"></i></button>
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="well" style="background-color:#272b30">

                                        <div class="form-group">
                                            <label class="control-label title_label">Database Version</label>
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <select class="form-control" ng-model="version" disabled>
                                                        <option value="5">v5</option>
                                                        <option value="4">v4</option>
                                                        <option value="3">v3</option>
                                                        <option value="2">v2</option>
                                                        <option value="1">v1</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>

                                        <!--<div class="form-group">-->
                                            <!--<label class="control-label title_label">Average Speed</label>-->
                                            <!--<div class="row">-->
                                                <!--<div class="col-md-2">-->
                                                    <!--<label class="control-label">From: </label>-->
                                                <!--</div>-->
                                                <!--<div class="col-md-4">-->
                                                    <!--<input type="text" ng-model="from_speed" class="form-control" disabled/>-->
                                                <!--</div>-->
                                                <!--<div class="col-md-2">-->
                                                    <!--<label class="control-label">To: </label>-->
                                                <!--</div>-->
                                                <!--<div class="col-md-4">-->
                                                    <!--<input type="text" ng-model="to_speed" class="form-control" disabled/>-->
                                                <!--</div>-->
                                            <!--</div>-->
                                        <!--</div>-->

                                        <div class="form-group">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <label class="control-label title_label">Have Annotation</label>
                                                </div>
                                            </div>
                                            <br/>
                                            <span><label class="control-label radio-inline"><input type="radio" name="yuv" value="Yes" ng-model="annotation" />Yes</label></span>
                                            <span><label class="control-label radio-inline"><input type="radio" name="yuv" value="No" ng-model="annotation" />No</label></span>
                                        </div>

                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-12">


                                    <div class="form-group">
                                        <label class="control-label title_label">Location </label>
                                        <div class="row">
                                            <div class="col-md-1">
                                                <label class="control-label">Country: </label>
                                            </div>
                                            <div class="col-md-3">
                                                <select class="form-control" ng-model="country" disabled>
                                                    <option disabled selected value> -- select a country -- </option>
                                                    <option value="United States">United States</option>
                                                    <option value="Italy">Italy</option>
                                                    <option value="Taiwan">Taiwan</option>
                                                </select>
                                            </div>
                                            <div class="col-md-1">
                                                <label class="control-label">State: </label>
                                            </div>
                                            <div class="col-md-3">
                                                <select class="form-control" ng-model="state" disabled>
                                                    <option disabled selected value> -- select a state -- </option>
                                                    <option value="California">California</option>
                                                    <option value="Emilia-Romagna">Emilia-Romagna</option>
                                                </select>
                                            </div>
                                            <div class="col-md-1">
                                                <label class="control-label">City: </label>
                                            </div>
                                            <div class="col-md-3">
                                                <select class="form-control" ng-model="city" disabled>
                                                    <option disabled selected value> -- select a city -- </option>
                                                    <option value="Saratoga">Saratoga</option>
                                                    <option value="Santa Clara">Santa Clara</option>
                                                    <option value="Parma">Parma</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>



                                </div>
                            </div>

                        </div>
                    </div>
                </div>


                <!--KEYWORDS & ANNOTATION-->
                <div class="row">

                    <!--KEYWORDS-->
                    <div class="col-md-6">
                        <div class="well">
                            <div class="row">
                                <div class="col-md-12">
                                    <h3 class="text-muted">KEYWORDS </h3></div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">

                                    <uib-accordion close-others="true">

                                        <uib-accordion-group ng-repeat="(category, keywords) in keywordsObj" is-open="status.open">
                                            <uib-accordion-heading>
                                                {{category}} <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}"></i>
                                            </uib-accordion-heading>
                                            <span ng-repeat="word in keywords" ><label class="control-label checkbox-inline"><input type="checkbox" ng-click="toggleSelection(word)" ng-checked="selectedKeywords.indexOf(word) > -1" />{{word}}</label></span>
                                        </uib-accordion-group>

                                    </uib-accordion>

                                    <!--<div class="panel-group" id="Keywords">-->
                                        <!--<div class="panel panel-default" ng-repeat="(category, keywords) in keywordsObj">-->
                                            <!--<div class="panel-heading">-->
                                                <!--<h4 class="panel-title">-->
                                                    <!--<a data-toggle="collapse" data-parent="#Keywords" href="#{{category}}">{{category}}</a>-->
                                                <!--</h4>-->
                                            <!--</div>-->
                                            <!--<div id="{{category}}" class="panel-collapse collapse">-->
                                                <!--<div class="panel-body">-->
                                                    <!--<span ng-repeat="word in keywords" ><label class="control-label checkbox-inline"><input type="checkbox" ng-click="toggleSelection(word)" ng-checked="selectedKeywords.indexOf(word) > -1" />{{word}}</label></span>-->
                                                <!--</div>-->
                                            <!--</div>-->
                                        <!--</div>-->
                                    <!--</div>-->

                                    <!--<div class="panel-group" id="Keywords">-->
                                        <!--<div class="panel panel-default">-->
                                            <!--<div class="panel-heading">-->
                                                <!--<h4 class="panel-title">-->
                                                    <!--<a data-toggle="collapse" data-parent="#Keywords" href="#Weather">Weather</a>-->
                                                <!--</h4>-->
                                            <!--</div>-->
                                            <!--<div id="Weather" class="panel-collapse collapse">-->
                                                <!--<div class="panel-body">-->
                                                    <!--<span><label class="control-label checkbox-inline"><input type="checkbox"/>Sunny</label></span>-->
                                                    <!--<span><label class="control-label checkbox-inline"><input type="checkbox"/>Rain</label></span>-->
                                                    <!--<span><label class="control-label checkbox-inline"><input type="checkbox"/>Cloudy</label></span>-->
                                                    <!--<span><label class="control-label checkbox-inline"><input type="checkbox"/>Snow</label></span>-->
                                                    <!--<span><label class="control-label checkbox-inline"><input type="checkbox"/>Hail</label></span>-->
                                                <!--</div>-->
                                            <!--</div>-->
                                        <!--</div>-->

                                        <!--<div class="panel panel-default">-->
                                            <!--<div class="panel-heading">-->
                                                <!--<h4 class="panel-title">-->
                                                    <!--<a data-toggle="collapse" data-parent="#Keywords" href="#Light_Condition">Light Condition</a>-->
                                                <!--</h4>-->
                                            <!--</div>-->
                                            <!--<div id="Light_Condition" class="panel-collapse collapse">-->
                                                <!--<div class="panel-body">-->
                                                    <!--<span><label class="control-label checkbox-inline"><input type="checkbox"/>Bright</label></span>-->
                                                    <!--<span><label class="control-label checkbox-inline"><input type="checkbox"/>Indoor</label></span>-->
                                                    <!--<span><label class="control-label checkbox-inline"><input type="checkbox"/>Shadow</label></span>-->
                                                    <!--<span><label class="control-label checkbox-inline"><input type="checkbox"/>Dusk</label></span>-->
                                                    <!--<span><label class="control-label checkbox-inline"><input type="checkbox"/>Dawn</label></span>-->
                                                <!--</div>-->
                                            <!--</div>-->
                                        <!--</div>-->

                                        <!--<div class="panel panel-default">-->
                                            <!--<div class="panel-heading">-->
                                                <!--<h4 class="panel-title">-->
                                                    <!--<a data-toggle="collapse" data-parent="#Keywords" href="#Road_Type">Road Type</a>-->
                                                <!--</h4>-->
                                            <!--</div>-->
                                            <!--<div id="Road_Type" class="panel-collapse collapse">-->
                                                <!--<div class="panel-body">-->
                                                    <!--<span><label class="control-label checkbox-inline"><input type="checkbox"/>Urban</label></span>-->
                                                    <!--<span><label class="control-label checkbox-inline"><input type="checkbox"/>Suburban</label></span>-->
                                                    <!--<span><label class="control-label checkbox-inline"><input type="checkbox"/>Rural</label></span>-->
                                                    <!--<span><label class="control-label checkbox-inline"><input type="checkbox"/>Highway</label></span>-->
                                                    <!--<span><label class="control-label checkbox-inline"><input type="checkbox"/>Parking Lot</label></span>-->
                                                <!--</div>-->
                                            <!--</div>-->
                                        <!--</div>-->

                                    <!--</div>-->

                                </div>
                            </div>
                        </div>
                    </div>



                    <!--ANNOTATION-->
                    <div class="col-md-6">
                        <div class="well">
                            <div class="row">
                                <div class="col-md-12">
                                    <h3 class="text-muted">ANNOTATION </h3></div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">


                                    <div class="form-group">
                                        <label class="control-label title_label">Task</label>
                                        <div class="row">

                                            <!--<div class="col-md-1">-->
                                                <!--<label class="control-label">Country: </label>-->
                                            <!--</div>-->
                                            <div class="col-md-12">
                                                <select class="form-control" ng-model="task">
                                                    <option selected value></option>
                                                    <option value="moving_object">Moving Object</option>
                                                    <option value="free_space">Free Space</option>
                                                    <option value="free_space_with_curb">Free Space With Curb</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>

                                    <!--<div ng-show="task">-->
                                        <div>
                                        <div class="form-group">
                                            <label class="control-label title_label">Density (objects per frame)</label>
                                            <div class="row">

                                                <div class="col-md-3">
                                                    <input type="text" class="form-control" ng-model="density"/>
                                                </div>

                                                <div class="col-md-3" >
                                                    <label class="control-label" >and above</label>
                                                </div>
                                                <!--<div class="col-md-2">-->
                                                <!--<label class="control-label">To: </label>-->
                                                <!--</div>-->
                                                <!--<div class="col-md-4">-->
                                                <!--<input type="text" class="form-control" disabled/>-->
                                                <!--</div>-->
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label class="control-label title_label">Unique IDs</label>
                                            <div class="row">

                                                <div class="col-md-3">
                                                    <input type="text" class="form-control" ng-model="ids"/>
                                                </div>

                                                <div class="col-md-3" >
                                                    <label class="control-label" >and above</label>
                                                </div>
                                            </div>
                                        </div>


                                        <div class="form-group">
                                            <label class="control-label title_label">Objects </label>

                                            <div class="row"  ng-repeat="object in objects" style="margin-bottom: 10px">
                                                <div class="col-md-2">
                                                    <label class="control-label">Class: </label>
                                                </div>
                                                <div class="col-md-4">
                                                    <select class="form-control" ng-model="object.class">
                                                        <option selected value></option>
                                                        <option value="human">Human</option>
                                                        <option value="vehicle">Vehicle</option>
                                                        <option value="road">Road</option>
                                                        <option value="other">Other</option>
                                                    </select>
                                                </div>
                                                <div class="col-md-3">
                                                    <label class="control-label">Occurrence: </label>
                                                </div>
                                                <div class="col-md-3">
                                                    <input type="text" class="form-control" ng-model="object.occurrence"/>
                                                </div>
                                            </div>

                                            <div style="padding-top: 9%; padding-bottom: 10px; text-align: right;">
                                                <div class="btn-group">
                                                    <button class="btn btn-default" type="button" ng-click="addObject()">&nbsp;&nbsp;Add&nbsp;&nbsp;</button>
                                                    <button class="btn btn-default" type="button" ng-click="deleteObject()">Delete</button>
                                                </div>
                                            </div>

                                        </div>


                                    </div>



                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!--SUBMIT-->
                <div class="row">
                    <div class="col-md-5"></div>
                    <div class="col-md-2">
                        <div class="button_wrapper">
                            <button class="btn btn-default btn-block" name="submit" type="submit">Submit</button>
                        </div>
                    </div>
                    <div class="col-md-5">
                        <div class="right_button_wrapper ">
                            <div class="btn-group">
                                <button class="btn btn-default" type="button" ng-click="saveQuery()" disabled>Save Query</button>
                                <button class="btn btn-default" type="button" ng-click="loadQuery()" disabled>Load Query</button>
                            </div>
                        </div>
                    </div>
                </div>

            </form>
        </div>
        <div class="col-md-1"></div>
    </div>
</div>



