
<div class="container">

    <div class="page-header">
    <h1>Query<small></small></h1>
    </div>


    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10">
            <form class="form" role="form" ng-submit="sendPost()">

                <!--GENERAL-->
                <div class="row">
                    <div class="col-md-12">
                        <div class="well">
                            <div class="row">
                                <div class="col-md-12">
                                    <h3 class="text-muted">GENERAL </h3>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="well" style="background-color:#272b30">

                                        <div class="form-group">
                                            <label class="control-label title_label">Sequence ID</label>
                                            <input type="text" ng-model="sequence_id" class="form-control" placeholder="57578e6d225f00da3730dc70" />
                                        </div>

                                        <div class="form-group">
                                            <label class="control-label title_label">Capture Date</label>
                                            <div class="row">
                                                <div class="col-md-2"><label class="control-label">From:</label></div>
                                                <div class="col-md-4"><input type="text" ng-model="from_date" class="form-control" placeholder="YYYY-MM-DD" /></div>
                                                <div class="col-md-2"><label class="control-label">To:</label></div>
                                                <div class="col-md-4"><input type="text" ng-model="to_date" class="form-control" placeholder="YYYY-MM-DD" /></div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="well" style="background-color:#272b30">

                                        <div class="form-group">
                                            <label class="control-label title_label">Average Speed</label>
                                            <div class="row">
                                                <div class="col-md-2">
                                                    <label class="control-label">From: </label>
                                                </div>
                                                <div class="col-md-4">
                                                    <input type="text" ng-model="from_speed" class="form-control" />
                                                </div>
                                                <div class="col-md-2">
                                                    <label class="control-label">To: </label>
                                                </div>
                                                <div class="col-md-4">
                                                    <input type="text" ng-model="to_speed" class="form-control" />
                                                </div>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <label class="control-label title_label">Have YUV</label>
                                                </div>
                                            </div>
                                            <br/>
                                            <span><label class="control-label radio-inline"><input type="radio" name="yuv" value="Yes" ng-model="yuv" />Yes</label></span>
                                            <span><label class="control-label radio-inline"><input type="radio" name="yuv" value="No" ng-model="yuv" />No</label></span>
                                        </div>

                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-12">


                                    <div class="form-group">
                                        <label class="control-label title_label">Location </label>
                                        <div class="row">
                                            <div class="col-md-1">
                                                <label class="control-label">Country: </label>
                                            </div>
                                            <div class="col-md-3">
                                                <select class="form-control" ng-model="country">
                                                    <option disabled selected value> -- select a country -- </option>
                                                    <option value="U.S.">United States</option>
                                                    <option value="Italy">Italy</option>
                                                    <option value="Taiwan">Taiwan</option>
                                                </select>
                                            </div>
                                            <div class="col-md-1">
                                                <label class="control-label">State: </label>
                                            </div>
                                            <div class="col-md-3">
                                                <select class="form-control" ng-model="state">
                                                    <option disabled selected value> -- select a state -- </option>
                                                    <option value="CA">California</option>
                                                    <option value="13">State 2</option>
                                                    <option value="14">State 3</option>
                                                </select>
                                            </div>
                                            <div class="col-md-1">
                                                <label class="control-label">City: </label>
                                            </div>
                                            <div class="col-md-3">
                                                <select class="form-control" ng-model="city">
                                                    <option disabled selected value> -- select a city -- </option>
                                                    <option value="Saragoga">Saragoga</option>
                                                    <option value="Santa Clara">Santa Clara</option>
                                                    <option value="14">City 3</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>



                                </div>
                            </div>

                        </div>
                    </div>
                </div>


                <!--KEYWORDS & ANNOTATION-->
                <div class="row">

                    <!--KEYWORDS-->
                    <div class="col-md-6">
                        <div class="well">
                            <div class="row">
                                <div class="col-md-12">
                                    <h3 class="text-muted">KEYWORDS </h3></div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">


                                    <div class="panel-group" id="Keywords">

                                        <div class="panel panel-default" ng-repeat="(category, keywords) in keywordsObj">
                                            <div class="panel-heading">
                                                <h4 class="panel-title">
                                                    <a data-toggle="collapse" data-parent="#Keywords" href="#{{category}}">{{category}}</a>
                                                </h4>
                                            </div>
                                            <div id="{{category}}" class="panel-collapse collapse">
                                                <div class="panel-body">
                                                    <!--<span><label class="control-label checkbox-inline"><input type="checkbox" ng-click="toggleSelection('Sunny')" ng-checked="keywords.indexOf('Sunny') > -1" />Sunny</label></span>-->
                                                    <span ng-repeat="word in keywords" ><label class="control-label checkbox-inline"><input type="checkbox" ng-click="toggleSelection(word)" ng-checked="selectedKeywords.indexOf(word) > -1" />{{word}}</label></span>
                                                </div>
                                            </div>
                                        </div>


                                        <!--<div class="panel panel-default">-->
                                            <!--<div class="panel-heading">-->
                                                <!--<h4 class="panel-title">-->
                                                    <!--<a data-toggle="collapse" data-parent="#Keywords" href="#Weather">Weather</a>-->
                                                <!--</h4>-->
                                            <!--</div>-->
                                            <!--<div id="Weather" class="panel-collapse collapse">-->
                                                <!--<div class="panel-body">-->
                                                    <!--<span><label class="control-label checkbox-inline"><input type="checkbox" ng-click="toggleSelection('Sunny')" ng-checked="keywords.indexOf('Sunny') > -1" />Sunny</label></span>-->
                                                    <!--<span><label class="control-label checkbox-inline"><input type="checkbox" ng-click="toggleSelection('Rain')" ng-checked="keywords.indexOf('Rain') > -1" />Rain</label></span>-->
                                                    <!--<span><label class="control-label checkbox-inline"><input type="checkbox" ng-click="toggleSelection('Cloudy')" ng-checked="keywords.indexOf('Cloudy') > -1" />Cloudy</label></span>-->
                                                    <!--<span><label class="control-label checkbox-inline"><input type="checkbox" ng-click="toggleSelection('Snow')" ng-checked="keywords.indexOf('Snow') > -1" />Snow</label></span>-->
                                                    <!--<span><label class="control-label checkbox-inline"><input type="checkbox" ng-click="toggleSelection('Hail')" ng-checked="keywords.indexOf('Hail') > -1" />Hail</label></span>-->
                                                <!--</div>-->
                                            <!--</div>-->
                                        <!--</div>-->


                                        <!--<div class="panel panel-default">-->
                                            <!--<div class="panel-heading">-->
                                                <!--<h4 class="panel-title">-->
                                                    <!--<a data-toggle="collapse" data-parent="#Keywords" href="#Special">Special Condition</a>-->
                                                <!--</h4>-->
                                            <!--</div>-->
                                            <!--<div id="Special" class="panel-collapse collapse">-->
                                                <!--<div class="panel-body">-->
                                                    <!--<span><label class="control-label checkbox-inline"><input type="checkbox" ng-click="toggleSelection('Construction')" ng-checked="keywords.indexOf('Construction') > -1" />Construction</label></span>-->
                                                    <!--<span><label class="control-label checkbox-inline"><input type="checkbox" ng-click="toggleSelection('Accident')" ng-checked="keywords.indexOf('Accident') > -1" />Accident</label></span>-->
                                                    <!--<span><label class="control-label checkbox-inline"><input type="checkbox" ng-click="toggleSelection('Pot hole')" ng-checked="keywords.indexOf('Pot hole') > -1" />Pot hole</label></span>-->
                                                <!--</div>-->
                                            <!--</div>-->
                                        <!--</div>-->


                                        <!--<div class="panel panel-default">-->
                                            <!--<div class="panel-heading">-->
                                                <!--<h4 class="panel-title">-->
                                                    <!--<a data-toggle="collapse" data-parent="#Keywords" href="#Light">Light condition</a>-->
                                                <!--</h4>-->
                                            <!--</div>-->
                                            <!--<div id="Light" class="panel-collapse collapse">-->
                                                <!--<div class="panel-body">-->
                                                    <!--<select class="form-control" multiple>-->
                                                        <!--<option value="12">Bright</option>-->
                                                        <!--<option value="13">Indoor</option>-->
                                                        <!--<option value="14">Shadow</option>-->
                                                        <!--<option value="14">Night with street light</option>-->
                                                        <!--<option value="14">Night without street light</option>-->
                                                        <!--<option value="14">Dusk</option>-->
                                                        <!--<option value="14">Dawn</option>-->
                                                        <!--<option value="14">Backlight</option>-->
                                                        <!--<option value="14">Tunnel</option>-->
                                                    <!--</select>-->
                                                <!--</div>-->
                                            <!--</div>-->
                                        <!--</div>-->

                                        <!--<div class="panel panel-default">-->
                                            <!--<div class="panel-heading">-->
                                                <!--<h4 class="panel-title">-->
                                                    <!--<a data-toggle="collapse" data-parent="#Keywords" href="#Road">Road Type</a>-->
                                                <!--</h4>-->
                                            <!--</div>-->
                                            <!--<div id="Road" class="panel-collapse collapse">-->
                                                <!--<div class="panel-body">-->
                                                    <!--<select class="form-control" multiple>-->
                                                        <!--<option value="12">Urban</option>-->
                                                        <!--<option value="13">Suburban</option>-->
                                                        <!--<option value="14">Rural</option>-->
                                                        <!--<option value="14">Highway</option>-->
                                                        <!--<option value="14">Parking lot</option>-->
                                                    <!--</select>-->
                                                <!--</div>-->
                                            <!--</div>-->
                                        <!--</div>-->


                                        <!--<div class="panel panel-default">-->
                                            <!--<div class="panel-heading">-->
                                                <!--<h4 class="panel-title">-->
                                                    <!--<a data-toggle="collapse" data-parent="#Keywords" href="#Lane">Lane Mark Type</a>-->
                                                <!--</h4>-->
                                            <!--</div>-->
                                            <!--<div id="Lane" class="panel-collapse collapse">-->
                                                <!--<div class="panel-body">-->
                                                    <!--<select class="form-control" multiple>-->
                                                        <!--<option value="12">Full lane markings</option>-->
                                                        <!--<option value="13">Center lane only</option>-->
                                                        <!--<option value="14">No lane marking</option>-->
                                                        <!--<option value="14">Special lane marking</option>-->
                                                    <!--</select>-->
                                                <!--</div>-->
                                            <!--</div>-->
                                        <!--</div>-->


                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>



                    <!--ANNOTATION-->
                    <div class="col-md-6">
                        <div class="well">
                            <div class="row">
                                <div class="col-md-12">
                                    <h3 class="text-muted">ANNOTATION </h3></div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">



                                    <div class="form-group">
                                        <label class="control-label title_label">Annotation Density</label>
                                        <div class="row">
                                            <div class="col-md-2">
                                                <label class="control-label">From: </label>
                                            </div>
                                            <div class="col-md-4">
                                                <input type="text" class="form-control" />
                                            </div>
                                            <div class="col-md-2">
                                                <label class="control-label">To: </label>
                                            </div>
                                            <div class="col-md-4">
                                                <input type="text" class="form-control" />
                                            </div>
                                        </div>
                                    </div>


                                    <div class="form-group">
                                        <label class="control-label title_label">Objects </label>
                                        <div class="row">
                                            <div class="col-md-2">
                                                <label class="control-label">Class: </label>
                                            </div>
                                            <div class="col-md-4">
                                                <select class="form-control">
                                                    <option disabled selected value>Select a Class</option>
                                                    <option value="12">Human</option>
                                                    <option value="13">This is item 2</option>
                                                    <option value="14">This is item 3</option>
                                                </select>
                                            </div>
                                            <div class="col-md-3">
                                                <label class="control-label">Occurrence: </label>
                                            </div>
                                            <div class="col-md-3">
                                                <input type="text" class="form-control" />
                                            </div>

                                        </div>
                                    </div>


                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!--SUBMIT-->
                <div class="row">
                    <div class="col-md-5"></div>
                    <div class="col-md-2">
                        <div class="button_wrapper">
                            <button class="btn btn-default btn-block" name="submit" type="submit">Submit</button>
                        </div>
                    </div>
                    <div class="col-md-5">
                        <div class="right_button_wrapper ">
                            <div class="btn-group">
                                <button class="btn btn-default" type="button" ng-click="saveQuery()">Save Query</button>
                                <button class="btn btn-default" type="button" ng-click="loadQuery()">Load Query</button>
                            </div>
                        </div>
                    </div>
                </div>

            </form>
        </div>
        <div class="col-md-1"></div>
    </div>
</div>



