
<div class="container">

    <div class="page-header">
    <h1>Query<small></small></h1>
    </div>


    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10">
            <form class="form" role="form" ng-submit="sendPost()">

                <!--GENERAL-->
                <div class="row">
                    <div class="col-md-12">
                        <div class="well">
                            <div class="row">
                                <div class="col-md-12">
                                    <h3 class="text-muted">GENERAL </h3>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="well" style="background-color:#272b30">

                                        <div class="form-group">
                                            <label class="control-label title_label">Sequence ID</label>
                                            <input type="text" ng-model="sequence_id" class="form-control" placeholder="57578e6d225f00da3730dc70" />
                                        </div>

                                        <div class="form-group">
                                            <label class="control-label title_label">Capture Date</label>
                                            <div class="row">
                                                <div class="col-md-1"><label class="control-label">From:</label></div>
                                                <div class="col-md-5">
                                                    <!--<input type="text" ng-model="from_date" class="form-control" placeholder="YYYY-MM-DD" />-->
                                                    <div class="input-group">
                                                        <input type="text" placeholder="YYYY-MM-DD" class="form-control" uib-datepicker-popup ng-model="from_date" is-open="fromDatePopup.opened" datepicker-options="fromDateOptions" ng-required="true" close-text="Close" />
                                                        <span class="input-group-btn">
                                                            <button type="button" class="btn btn-default" ng-click="openFromDate()"><i class="glyphicon glyphicon-calendar"></i></button>
                                                        </span>
                                                    </div>
                                                </div>

                                                <div class="col-md-1"><label class="control-label">To:</label></div>
                                                <div class="col-md-5">
                                                    <!--<input type="text" ng-model="to_date" class="form-control" placeholder="YYYY-MM-DD" />-->
                                                    <div class="input-group">
                                                        <input type="text" placeholder="YYYY-MM-DD" class="form-control" uib-datepicker-popup ng-model="to_date" is-open="toDatePopup.opened" datepicker-options="toDateOptions" ng-required="true" close-text="Close" />
                                                        <span class="input-group-btn">
                                                            <button type="button" class="btn btn-default" ng-click="openToDate()"><i class="glyphicon glyphicon-calendar"></i></button>
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="well" style="background-color:#272b30">

                                        <div class="form-group">
                                            <label class="control-label title_label">Average Speed</label>
                                            <div class="row">
                                                <div class="col-md-2">
                                                    <label class="control-label">From: </label>
                                                </div>
                                                <div class="col-md-4">
                                                    <input type="text" ng-model="from_speed" class="form-control" />
                                                </div>
                                                <div class="col-md-2">
                                                    <label class="control-label">To: </label>
                                                </div>
                                                <div class="col-md-4">
                                                    <input type="text" ng-model="to_speed" class="form-control" />
                                                </div>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <label class="control-label title_label">Have YUV</label>
                                                </div>
                                            </div>
                                            <br/>
                                            <span><label class="control-label radio-inline"><input type="radio" name="yuv" value="Yes" ng-model="yuv" />Yes</label></span>
                                            <span><label class="control-label radio-inline"><input type="radio" name="yuv" value="No" ng-model="yuv" />No</label></span>
                                        </div>

                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-12">


                                    <div class="form-group">
                                        <label class="control-label title_label">Location </label>
                                        <div class="row">
                                            <div class="col-md-1">
                                                <label class="control-label">Country: </label>
                                            </div>
                                            <div class="col-md-3">
                                                <select class="form-control" ng-model="country">
                                                    <option disabled selected value> -- select a country -- </option>
                                                    <option value="United States">United States</option>
                                                    <option value="Italy">Italy</option>
                                                    <option value="Taiwan">Taiwan</option>
                                                </select>
                                            </div>
                                            <div class="col-md-1">
                                                <label class="control-label">State: </label>
                                            </div>
                                            <div class="col-md-3">
                                                <select class="form-control" ng-model="state">
                                                    <option disabled selected value> -- select a state -- </option>
                                                    <option value="CA">California</option>
                                                    <option value="13">State 2</option>
                                                    <option value="14">State 3</option>
                                                </select>
                                            </div>
                                            <div class="col-md-1">
                                                <label class="control-label">City: </label>
                                            </div>
                                            <div class="col-md-3">
                                                <select class="form-control" ng-model="city">
                                                    <option disabled selected value> -- select a city -- </option>
                                                    <option value="Saratoga">Saratoga</option>
                                                    <option value="Santa Clara">Santa Clara</option>
                                                    <option value="14">City 3</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>



                                </div>
                            </div>

                        </div>
                    </div>
                </div>


                <!--KEYWORDS & ANNOTATION-->
                <div class="row">

                    <!--KEYWORDS-->
                    <div class="col-md-6">
                        <div class="well">
                            <div class="row">
                                <div class="col-md-12">
                                    <h3 class="text-muted">KEYWORDS </h3></div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">

                                    <uib-accordion close-others="true">

                                        <uib-accordion-group ng-repeat="(category, keywords) in keywordsObj" is-open="status.open">
                                            <uib-accordion-heading>
                                                {{category}} <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}"></i>
                                            </uib-accordion-heading>
                                            <span ng-repeat="word in keywords" ><label class="control-label checkbox-inline"><input type="checkbox" ng-click="toggleSelection(word)" ng-checked="selectedKeywords.indexOf(word) > -1" />{{word}}</label></span>
                                        </uib-accordion-group>

                                    </uib-accordion>

                                    <!--<div class="panel-group" id="Keywords">-->
                                        <!--<div class="panel panel-default" ng-repeat="(category, keywords) in keywordsObj">-->
                                            <!--<div class="panel-heading">-->
                                                <!--<h4 class="panel-title">-->
                                                    <!--<a data-toggle="collapse" data-parent="#Keywords" href="#{{category}}">{{category}}</a>-->
                                                <!--</h4>-->
                                            <!--</div>-->
                                            <!--<div id="{{category}}" class="panel-collapse collapse">-->
                                                <!--<div class="panel-body">-->
                                                    <!--<span ng-repeat="word in keywords" ><label class="control-label checkbox-inline"><input type="checkbox" ng-click="toggleSelection(word)" ng-checked="selectedKeywords.indexOf(word) > -1" />{{word}}</label></span>-->
                                                <!--</div>-->
                                            <!--</div>-->
                                        <!--</div>-->
                                    <!--</div>-->

                                </div>
                            </div>
                        </div>
                    </div>



                    <!--ANNOTATION-->
                    <div class="col-md-6">
                        <div class="well">
                            <div class="row">
                                <div class="col-md-12">
                                    <h3 class="text-muted">ANNOTATION </h3></div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">



                                    <div class="form-group">
                                        <label class="control-label title_label">Annotation Density</label>
                                        <div class="row">
                                            <div class="col-md-2">
                                                <label class="control-label">From: </label>
                                            </div>
                                            <div class="col-md-4">
                                                <input type="text" class="form-control" />
                                            </div>
                                            <div class="col-md-2">
                                                <label class="control-label">To: </label>
                                            </div>
                                            <div class="col-md-4">
                                                <input type="text" class="form-control" />
                                            </div>
                                        </div>
                                    </div>


                                    <div class="form-group">
                                        <label class="control-label title_label">Objects </label>
                                        <div class="row">
                                            <div class="col-md-2">
                                                <label class="control-label">Class: </label>
                                            </div>
                                            <div class="col-md-4">
                                                <select class="form-control">
                                                    <option disabled selected value>Select a Class</option>
                                                    <option value="12">Human</option>
                                                    <option value="13">This is item 2</option>
                                                    <option value="14">This is item 3</option>
                                                </select>
                                            </div>
                                            <div class="col-md-3">
                                                <label class="control-label">Occurrence: </label>
                                            </div>
                                            <div class="col-md-3">
                                                <input type="text" class="form-control" />
                                            </div>

                                        </div>
                                        <div class="right_button_wrapper" style="padding-bottom: 10px;">
                                            <button class="btn btn-default" type="button" ng-click="">Add</button>
                                        </div>
                                    </div>


                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!--SUBMIT-->
                <div class="row">
                    <div class="col-md-5"></div>
                    <div class="col-md-2">
                        <div class="button_wrapper">
                            <button class="btn btn-default btn-block" name="submit" type="submit">Submit</button>
                        </div>
                    </div>
                    <div class="col-md-5">
                        <div class="right_button_wrapper ">
                            <div class="btn-group">
                                <button class="btn btn-default" type="button" ng-click="saveQuery()">Save Query</button>
                                <button class="btn btn-default" type="button" ng-click="loadQuery()">Load Query</button>
                            </div>
                        </div>
                    </div>
                </div>

            </form>
        </div>
        <div class="col-md-1"></div>
    </div>
</div>



