<a id="top"></a>

<div class="container">

    <div class="page-header">
        <h1>{{results.length}} Results</h1>
        <!--<a href="http://localhost/video/game.mp4">click me!</a>-->
    </div>

    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <div style="text-align: right; padding-bottom: 20px;">


                <!--<div class="btn-group" uib-dropdown>-->
                    <!--<button id="single-button" type="button" class="btn btn-default" uib-dropdown-toggle>-->
                        <!--Download All YUV <span class="caret"></span>-->
                    <!--</button>-->
                    <!--<ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="single-button">-->
                        <!--<li role="menuitem"><a download="all_yuv_R.txt" ng-href="{{url.yuv_R}}" target="_self">Right</a></li>-->
                        <!--<li role="menuitem"><a download="all_yuv_L.txt" ng-href="{{url.yuv_L}}" target="_self">Left</a></li>-->
                    <!--</ul>-->
                <!--</div>-->

                <!--<div class="btn-group" uib-dropdown>-->
                    <!--<button id="single-button" type="button" class="btn btn-default" uib-dropdown-toggle>-->
                        <!--Download All Annotation <span class="caret"></span>-->
                    <!--</button>-->
                    <!--<ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="single-button">-->
                        <!--<li role="menuitem"><a download="all_moving_object.txt" ng-href="{{url.moving_object}}" target="_self">Moving Object</a></li>-->
                        <!--<li role="menuitem"><a download="all_free_space.txt" ng-href="{{url.free_space}}" target="_self">Free Space</a></li>-->
                    <!--</ul>-->
                <!--</div>-->


                <a download="training.json" ng-href="{{jsonUrl}}" target="_self" class="btn btn-default" role="button" >Download All Training Data</a>

                <!--<a download="file.txt" ng-href="{{download('json')}}" target="_self" class="btn btn-primary" role="button" >Download All JSON</a>-->
                <!--<a download ng-href="{{download('yuv')}}" target="_self" class="btn btn-primary" role="button" >Download All YUV</a>-->





                <!--<div class="btn-group" uib-dropdown>-->
                    <!--<button id="single-button" type="button" class="btn btn-default" uib-dropdown-toggle>-->
                        <!--Sort By: {{sortBy}} <span class="caret"></span>-->
                    <!--</button>-->
                    <!--<ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="single-button">-->
                        <!--<li role="menuitem"><a ng-click="selectSortBy('Date')">Date</a></li>-->
                        <!--&lt;!&ndash;<li role="menuitem"><a ng-click="selectSortBy('Annotation Density')">Annotation Density</a></li>&ndash;&gt;-->
                        <!--&lt;!&ndash;<li role="menuitem"><a ng-click="selectSortBy('Something else')">Something else</a></li>&ndash;&gt;-->
                    <!--</ul>-->
                <!--</div>-->



            </div>
        </div>
    </div>

    <div class="row" dir-paginate="result in results | itemsPerPage: 10" current-page="currentPage" >
        <div class="col-md-8 col-md-offset-2">
            <div class="well">
                <div class="media">
                    <div class="media-left">
                        <a><img ng-src="{{thumbSrc(result)}}" class="img-rounded media-object" /></a>
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading"><strong>{{result.title}}</strong> </h4>
                        <div class="row">
                            <div class="col-md-6">
                                <h5>ID: {{result._id}}</h5>

                                <div class="form-inline">
                                    <div class="form-group">
                                        <label>Capture Time: {{result.capture_time}}</label>
                                        <!--<input type="text" class="form-control input-sm" onClick="this.select();" value="{{showFilePath(result.file_location)}}">-->
                                    </div>
                                </div>

                            </div>
                            <div class="col-md-6" uib-popover="{{showAllKeywords(result.keywords)}}" popover-trigger="mouseenter" popover-placement="top" >
                            <!--<div class="col-md-6" uib-popover-html="htmlPopover" popover-trigger="mouseenter" popover-placement="top" >-->

                                <div class="well light_well">
                                    <h5 class="keyword_h5">Keywords: </h5>
                                    <span>{{show3Keywords(result.keywords)}}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-2"></div>
                    <div class="col-md-4"><button class="btn btn-default btn-block" type="button" ng-click="preview(result)">Preview</button></div>

                    <div class="col-md-2">
                        <a download ng-href="{{download('annotation', result)}}" target="_self" class="btn btn-default btn-block" role="button" role="button" >Annotation</a>
                    </div>

                    <div class="col-md-2">
                        <a download ng-href="{{download('h265', result)}}" target="_self" class="btn btn-default btn-block" role="button" role="button" >H265</a>
                    </div>

                    <!--<div class="col-md-2">-->
                        <!--<button class="btn btn-default btn-block" type="button" ng-click="deleteSequence(result)">Delete</button>-->
                    <!--</div>-->

                    <div class="col-md-2">
                        <!--<button class="btn btn-default" type="button" ng-click="detail(result)">Detail...</button>-->
                        <div class="btn-group" uib-dropdown>
                            <button id="single-button" type="button" class="btn btn-default" uib-dropdown-toggle>
                                Detail... <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="single-button">
                                <li role="menuitem" ng-repeat="camera in result.cameras"><a ng-click="detail(result, result.cameras.indexOf(camera))">{{camera.name}}</a></li>
                            </ul>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div style="text-align: center;">
        <dir-pagination-controls on-page-change="changePage(newPageNumber)"></dir-pagination-controls>
    </div>
    <div class="row">
        <div class="col-md-5"></div>
        <div class="col-md-2">
            <div class="button_wrapper" style="padding-top: 7px;">
                <button class="btn btn-default btn-block" type="button" ng-click="back()">Back</button>
            </div>
        </div>
        <div class="col-md-5"></div>
    </div>

</div>

<script type="text/ng-template" id="myModalContent.html">
    <!--<div class="modal-header">-->
        <!--<h3 class="modal-title">Preview</h3>-->
    <!--</div>-->
    <div class="modal-body">
        <!--<ul>-->
            <!--<li ng-repeat="item in items">-->
                <!--<a href="#" ng-click="$event.preventDefault(); selected.item = item">{{ item }}</a>-->
            <!--</li>-->
        <!--</ul>-->
        <!--Selected: <b>{{ selected.item }}</b>-->

        <div class="center_video">
            <div class="embed-responsive embed-responsive-16by9">
                <video ng-src="{{previewSrc()}}" type="video/mp4" controls></video>
            </div>
        </div>


    </div>

    <!--<div class="modal-footer">-->
    <!--<div class="modal-footer">-->
        <!--<button class="btn btn-primary" type="button" ng-click="ok()">OK</button>-->
        <!--<button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>-->
    <!--</div>-->
</script>
