<a id="top"></a>

<div class="container">

    <div class="page-header">
        <h1>{{selected.length}}/{{results.length}} Sequences Selected</h1>
    </div>

    <div class="row">
        <div class="col-md-2 col-md-offset-8">
            <div style="text-align: right; padding-bottom: 20px;">
                <button class="btn btn-default btn-block" type="button" ng-click="gotoManagePage()" style="padding-left: 10px">Filter</button>
            </div>
        </div>
    </div>

    <div class="row" dir-paginate="result in results | itemsPerPage: 10" current-page="currentPage" >
        <div class="col-md-1 col-md-offset-1">
            <div style="padding-top: 100%; padding-right: 50%; text-align: right">
                <input type="checkbox" ng-click="toggleSelection(result._id)" ng-checked="arrayObjectIndexOf(selected, result._id, 'id') > -1" />
            </div>
        </div>
        <div class="col-md-8">
            <div class="well">
                <div class="media">
                    <div class="media-left">
                        <a><img ng-src="{{thumbSrc(result)}}" class="img-rounded media-object" /></a>
                    </div>
                    <div class="media-body">
                        <h4 class="media-title_label"><strong>{{result.title}}</strong> </h4>


                        <div ng-show="arrayObjectIndexOf(selected, result._id, 'id') > -1" style="padding-bottom: 2%">
                            <div class="row" >

                                <div class="col-md-5">
                                    <div class="row">
                                        <div class="col-md-4">
                                            <div style="padding-top: 15%;">
                                                <label>Category:</label>
                                            </div>
                                        </div>

                                        <div class="col-md-8" style="padding-left: 0%;">
                                            <div style="padding-top: 3%;">

                                                <select class="form-control input-sm" ng-model="selected[arrayObjectIndexOf(selected, result._id, 'id')].category">
                                                    <!--<option disabled selected value></option>-->
                                                    <option value="moving_object">Moving Object</option>
                                                    <option value="free_space">Free Space</option>
                                                    <option value="free_space_with_curb">Free Space With Curb</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>


                                <div class="col-md-3">
                                    <div class="row">
                                        <div class="col-md-3" style="padding-left: 0%;">
                                            <div style="padding-top: 40%;">
                                                <label>FPS:</label>
                                            </div>
                                        </div>

                                        <div class="col-md-9" style="padding-left: 0%;">
                                            <div style="padding-top: 5%;">
                                                <select class="form-control input-sm" ng-model="selected[arrayObjectIndexOf(selected, result._id, 'id')].fps">
                                                    <option disabled selected value></option>
                                                    <option value="1">1</option>
                                                    <option value="5">5</option>
                                                    <option value="10">10</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>


                                <div class="col-md-4">
                                    <div class="row">
                                        <div class="col-md-4" style="padding-left: 0%;">
                                            <div style="padding-top: 20%;">
                                                <label>Priority:</label>
                                            </div>
                                        </div>

                                        <div class="col-md-8" style="padding-left: 0%;">
                                            <div style="padding-top: 5%;">
                                                <select id="multi_select" class="form-control input-sm" ng-model="selected[arrayObjectIndexOf(selected, result._id, 'id')].priority">
                                                    <option disabled selected value></option>
                                                    <option value="1">1&nbsp;&nbsp;&nbsp;-----------&nbsp;&nbsp;&nbsp;Low</option>
                                                    <option value="2">2</option>
                                                    <option value="3">3</option>
                                                    <option value="4">4</option>
                                                    <option value="5">5&nbsp;&nbsp;&nbsp;-----------&nbsp;&nbsp;&nbsp;High</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>

                            <!--<div class="row" >-->
                                <!--<div class="col-md-2 col-md-offset-10" style="padding-top: 3%;">-->
                                    <!--<button class="btn btn-default btn-block" type="button" ng-click="">Add</button>-->
                                <!--</div>-->
                            <!--</div>-->


                            </div>


                        <div class="row" >
                            <div class="col-md-4" style="padding-top: 1%">
                                <button class="btn btn-default btn-block" type="button" ng-click="preview(result)">Preview</button>
                            </div>
                            <div class="col-md-2" style="padding-top: 1%">
                                <button class="btn btn-default btn-block" type="button" ng-click="deleteSequence(result)">Delete</button>
                            </div>

                            <div class="col-md-6" uib-popover="{{showAllKeywords(result.keywords)}}" popover-trigger="mouseenter" popover-placement="top" >
                                <!--<div class="col-md-6" uib-popover-html="htmlPopover" popover-trigger="mouseenter" popover-placement="top" >-->

                                <div class="well light_well">
                                    <h5 class="keyword_h5">Keywords: </h5>
                                    <span>{{show3Keywords(result.keywords)}}</span>
                                </div>
                            </div>
                        </div>


                    </div>


                    <!--<div class="row" ng-show="arrayObjectIndexOf(selected, result._id, 'id') > -1">-->
                        <!--<div class="col-md-4 col-md-offset-4">-->
                            <!--<button class="btn btn-default btn-block" type="button" ng-click="preview(result)">Preview</button>-->
                        <!--</div>-->
                    <!--</div>-->

                </div>

            </div>
        </div>

        <div class="col-md-2" style="height: 10em;vertical-align: middle;color: aqua">
            {{showRequested(result)}}
            <!--<div style="height: 10em;background-color: #00b3e9;vertical-align: middle;">123</div>-->

        </div>

        </div>

    <div style="text-align: center;">
        <dir-pagination-controls on-page-change="changePage(newPageNumber)"></dir-pagination-controls>
    </div>

    <div class="row">
        <div class="col-md-5"></div>
        <div class="col-md-2">
            <div class="button_wrapper" style="padding-top: 7px;">
                <button class="btn btn-default btn-block" type="submit" ng-click="submit()">Submit</button>
            </div>
        </div>
        <div class="col-md-5"></div>
    </div>

</div>

<script type="text/ng-template" id="filterPreview.html">

    <div class="modal-body">

        <div class="row">
            <div class="col-md-9">
                <div>
                    <div class="embed-responsive embed-responsive-16by9">
                        <video ng-src="{{previewSrc()}}" type="video/mp4" controls></video>
                    </div>
                </div>
            </div>
            <div class="col-md-3" style="padding-left: 0">
                <uib-accordion close-others="true">
                    <uib-accordion-group ng-repeat="(category, keywords) in keywordsObj" is-open="status.open">
                        <uib-accordion-heading>
                            {{category}} <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}"></i>
                        </uib-accordion-heading>
                        <span ng-repeat="word in keywords" ><label class="control-label checkbox-inline"><input type="checkbox" ng-click="toggleSelection(word)" ng-checked="result.keywords.indexOf(word) > -1" />{{word}}</label></span>
                    </uib-accordion-group>
                </uib-accordion>

                <div style="text-align: center">
                    <div class="btn-group">
                        <button class="btn btn-default" type="button" ng-click="submitTag()">Submit</button>
                        <button class="btn btn-default" type="button" ng-click="cancel()">Cancel</button>
                    </div>
                </div>

            </div>
        </div>
    </div>

</script>
