<a id="top"></a>

<div class="container">

    <div class="page-header">
        <h1>{{results.length}} Annotation Tasks</h1>
    </div>


    <div class="row" dir-paginate="result in results | orderBy : order : true | itemsPerPage: 10" >
        <div class="col-md-8 col-md-offset-2">
            <div class="well">

                <h4 class="media-heading"><strong>{{result.title}}</strong> </h4>

                <div class="media">
                    <div class="media-left">
                        <a><img ng-src="{{thumbSrc(result)}}" class="img-rounded media-object" /></a>
                    </div>
                    <div class="media-body">
                        <!--<h4 class="media-heading"><strong>{{result.title}}</strong> </h4>-->
                        <div class="row">

                            <div class="col-md-10" >

                                <!--<div class="well light_well">-->
                                    <!--<h5 class="keyword_h5">Annotation Request: </h5>-->
                                    <!--<p ng-repeat="request in result.cameras[0].annotation">Category: {{request.category}}, FPS: {{request.fps}}</p>-->
                                    <table class="table table-condensed table-hover">
                                        <thead>
                                        <tr>
                                            <th>Category</th>
                                            <th>FPS</th>
                                            <th>Priority</th>
                                            <th>State</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr class="pointer_table" ng-repeat="request in result.cameras[0].annotation" ng-click="edit(result, request, $index)">
                                            <!--<td>{{request.category}}</td>-->
                                            <!--<td>{{request.fps}}</td>-->
                                            <!--<td>{{showPriority(request.priority)}}</td>-->
                                            <!--<td>{{showPriority(request.priority)}}</td>-->


                                            <td>{{request.category}}</td>
                                            <td>{{request.fps}}</td>
                                            <td>{{showPriority(request.priority)}}</td>
                                            <td ng-show="!request.isEdit">{{request.state}}</td>



                                            <td ng-show="request.isEdit">
                                                <select class="form-control input-sm" ng-model="request.state" ng-change="editingRequest.state=request.state">
                                                    <option value="Pending">Pending</option>
                                                    <option value="Annotating">Annotating</option>
                                                    <option value="Reviewing">Reviewing</option>
                                                    <option value="Finished">Finished</option>
                                                    <option value="Modify">Modify</option>
                                                </select>
                                            </td>

                                        </tr>




                                        </tbody>
                                    </table>

                                <!--</div>-->
                            </div>

                            <div class="col-md-2" style=" padding-left: 0%">


                                <!--<a download ng-href="{{download(result)}}" target="_self" class="btn btn-default btn-block">Download</a>-->

                                <div class="btn-group-vertical">
                                    <a ng-show="!result.isEdit" download ng-href="{{download(result)}}" target="_self" class="btn btn-default btn-block">Download</a>
                                    <button ng-show="result.isEdit" class="btn btn-default btn-block" type="button" ng-click="submitEdit(result)">Update</button>
                                    <button ng-show="result.isEdit" class="btn btn-default btn-block" type="button" ng-click="upload(result)">Upload</button>
                                    <button ng-show="result.isEdit" class="btn btn-default btn-block" type="button" ng-click="cancel(result)">Cancel</button>
                                </div>

                            </div>

                        </div>
                    </div>
                </div>

                <!--<div class="row">-->
                    <!--<div class="col-md-2"></div>-->
                    <!--<div class="col-md-2"></div>-->
                    <!--&lt;!&ndash;<div class="col-md-4">&ndash;&gt;-->
                    <!--&lt;!&ndash;<button class="btn btn-default btn-block" type="button" ng-click="preview(result)">Preview</button>&ndash;&gt;-->
                    <!--&lt;!&ndash;</div>&ndash;&gt;-->
                    <!--<div class="col-md-2"></div>-->
                    <!--<div class="col-md-2">-->
         <!---->
                    <!--</div>-->
                <!--</div>-->

            </div>
        </div>
    </div>

    <div style="text-align: center;">
        <dir-pagination-controls on-page-change="linkToTop()"></dir-pagination-controls>
    </div>
    <!--<div class="row">-->
    <!--<div class="col-md-5"></div>-->
    <!--<div class="col-md-2">-->
    <!--<div class="button_wrapper" style="padding-top: 7px;">-->
    <!--<button class="btn btn-default btn-block" type="button" ng-click="back()">Back</button>-->
    <!--</div>-->
    <!--</div>-->
    <!--<div class="col-md-5"></div>-->
    <!--</div>-->

</div>

<script type="text/ng-template" id="myModalContent.html">
    <!--<div class="modal-header">-->
    <!--<h3 class="modal-title">Preview</h3>-->
    <!--</div>-->
    <div class="modal-body">
        <!--<ul>-->
        <!--<li ng-repeat="item in items">-->
        <!--<a href="#" ng-click="$event.preventDefault(); selected.item = item">{{ item }}</a>-->
        <!--</li>-->
        <!--</ul>-->
        <!--Selected: <b>{{ selected.item }}</b>-->

        <div class="center_video">
            <div class="embed-responsive embed-responsive-16by9">
                <video ng-src="{{previewSrc()}}" type="video/mp4" controls></video>
            </div>
        </div>


    </div>

    <!--<div class="modal-footer">-->
    <!--<div class="modal-footer">-->
    <!--<button class="btn btn-primary" type="button" ng-click="ok()">OK</button>-->
    <!--<button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>-->
    <!--</div>-->
</script>
