<a id="top"></a>

<div class="container">

    <h1 style="padding-top: 25px" >Annotation Task Management &nbsp <button class="btn btn-default" type="button" ng-click="gotoTrackPage()" style="font-size: 10px;padding-left: 10px"><span class="glyphicon glyphicon-share-alt" ></span></button> </h1>

    <div class="row" style="padding-top: 30px">
        <div class="col-md-12">
            <ul class="nav nav-tabs nav-justified">
                <li ng-class="{active: tab.moving_object}"><a ng-click="switchTab('moving_object')" class="title_label">Moving Object</a></li>
                <li ng-class="{active: tab.free_space}"><a ng-click="switchTab('free_space')" class="title_label">Free Space</a></li>
                <li ng-class="{active: tab.free_space_with_curb}"><a ng-click="switchTab('free_space_with_curb')" class="title_label">Free Space w Curb</a></li>
                <li ng-class="{active: tab.download}"><a ng-click="switchToDownload()" class="title_label">Download Package</a></li>
                <!--<li><label class="btn btn-default btn-file btn-block title_label">-->
                        <!--Batch Update <input type="file" name="annotation" style="display: none;" onchange="angular.element(this).scope().batchUpdate(this)">-->
                    <!--</label>-->
                <!--</li>-->

            </ul>

        </div>
    </div>


    <div class="row" style="padding-top: 40px">
        <div class="col-md-8 col-md-offset-2">

            <div ng-show="tab.moving_object || tab.free_space || tab.free_space_with_curb">
                <div class="well" >
                    <div style="text-align: right; padding-top: 30px">
                        <div class="row">
                            <div class="col-md-3">
                                <label class="control-label" style="color: white; font-size: medium;">Search by Title: </label>
                            </div>
                            <div class="col-md-3" style="padding-left: 0; ">
                                <input type="text" class="form-control" ng-model="searchTitle" ng-change="search()">
                            </div>
                            <div class="col-md-1" style="padding-left: 0; " >
                                <label class="control-label" style="color: white; font-size: medium;">State: </label>
                            </div>
                            <div class="col-md-2" style="padding-left: 0">
                                <div ng-dropdown-multiselect events="event" options="stateData" selected-model="selectedState" extra-settings="multiSelectSettings"></div>
                            </div>

                            <div class="col-md-1" style="padding-left: 0;">
                                <label class="control-label" style="color: white; font-size: medium;">Order: </label>
                            </div>
                            <div class="col-md-1" style="padding-left: 0; padding-right: 0">
                                <div ng-dropdown-multiselect options="orderData" selected-model="selectedOrder" extra-settings="multiSelectSettings"></div>
                            </div>



                        </div> <br>

                        <div class="row">
                            <div class="col-md-3">
                                <label class="control-label" style="color: white; font-size: medium;">Year: </label>
                            </div>
                            <div class="col-md-1" style="padding-left: 0; padding-right: 0">
                                <div ng-dropdown-multiselect events="changeDateEvent" options="yearData" selected-model="selectedYear" extra-settings="multiSelectSettings"></div>
                            </div>

                            <div class="col-md-2">
                                <label class="control-label" style="color: white; font-size: medium;">Month: </label>
                            </div>
                            <div class="col-md-1" style="padding-left: 0; padding-right: 0">
                                <div ng-dropdown-multiselect events="changeDateEvent" options="monthData" selected-model="selectedMonth" extra-settings="multiSelectSettings"></div>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="well"  >

                    <!--<h3>{{showResults.length}} Tasks</h3>-->
                    <div style="padding-top: 15px"></div>
                    <table class="table table-condensed table-hover">
                        <thead>
                        <tr>
                            <th>Sequence Title</th>
                            <th>Priority</th>
                            <th>State</th>
                            <th>Functions</th>

                        </tr>
                        </thead>

                        <tbody>

                        <!--<div infinite-scroll="loadMore()" infinite-scroll-distance="2">-->
                            <tr class="pointer_table" ng-class="{bright_row: ($index % 10 == 9)}" ng-repeat="result in showResults | orderBy : order" ng-click="editState(result)">

                                <td>{{result.title}}</td>
                                <td>{{result.priority}}</td>

                                <td ng-show="!result.isEdit">{{result.state}}</td>
                                <td ng-show="result.isEdit">
                                    <select class="form-control input-sm" ng-model="result.state" ng-change="submitEdit(result)">
                                        <!--<select class="form-control input-sm" ng-model="request.state" ng-change="editingRequest.state=request.state">-->
                                        <option value="Pending">Pending</option>
                                        <option value="Annotating">Annotating</option>
                                        <option value="Reviewing">Reviewing</option>
                                        <!--<option value="Finished">Finished</option>-->
                                        <!--<option value="Modifying">Modifying</option>-->
                                    </select>
                                </td>

                                <td>

                                    <div class="btn-group btn-group-sm" ng-show="result.state == 'Finished' || result.state == 'Finished_Basic' || result.state == 'Modifying'" uib-dropdown dropdown-append-to-body="true">
                                        <button id="single-button" type="button" class="btn btn-info" uib-dropdown-toggle>
                                            JSON <span class="caret"></span>
                                        </button>
                                        <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="single-button">
                                            <li role="menuitem" ng-hide="$last && result.state != 'Finished' && result.state != 'Finished_Basic' && result.state != 'Accepted'" ng-repeat="version in result.version"><a download ng-href="{{download(result, 'JSON', version.version_number)}}" target="_self"><i><b>V{{version.version_number}}</b></i>&nbsp;&nbsp;&nbsp;---------&nbsp;&nbsp;&nbsp;{{showDownloadBtn(version.upload_time)}}</a></li>
                                        </ul>
                                    </div>

                                    <div class="btn-group btn-group-sm" ng-show="result.state == 'Modifying' || result.state == 'Reviewing' || result.state == 'Pending'">
                                        <label ng-show="result.state == 'Modifying' || result.state == 'Reviewing' || result.state == 'Pending'" class="btn btn-default btn-file" ng-click="disableEdit()">
                                            Upload <input type="file" name="annotation" multiple style="display: none;" onchange="angular.element(this).scope().upload(this)">
                                        </label>
                                        <button ng-show="result.state == 'Modifying'" class="btn btn-default" type="button" uib-popover="{{result.version[result.version.length-1].comments}}" popover-trigger="click outsideClick" popover-append-to-body="true">Comments</button>
                                        <span>&nbsp;&nbsp;&nbsp;</span>
                                        <input type="checkbox" ng-click="disableEdit()" ng-checked="result.fully_annotated" ng-model="result.fully_annotated" />
                                        Fully Annotated
                                    </div>

                                    <!--<div class="btn-group btn-group-sm" ng-show="request.state == 'Finished'">-->
                                    <!--<button class="btn btn-default" type="button" ng-click="accept(result, $index)">Accept</button>-->
                                    <!--<button class="btn btn-default" type="button" ng-click="modify(result, $index)">Modify</button>-->
                                    <!--</div>-->

                                    <div class="btn-group btn-group-sm" ng-show="result.isEdit">
                                        <button class="btn btn-default" type="button" ng-click="cancel(result)">Cancel</button>
                                    </div>

                                </td>
                            </tr>
                        <!--</div>-->

                        <!--<tr class="pointer_table" ng-class="{bright_row: ($index % 10 == 9)}" ng-repeat="result in showResults | orderBy : order" ng-click="editState(result)">-->

                            <!--<td>{{result.title}}</td>-->
                            <!--<td>{{result.priority}}</td>-->

                            <!--<td ng-show="!result.isEdit">{{result.state}}</td>-->
                            <!--<td ng-show="result.isEdit">-->
                                <!--<select class="form-control input-sm" ng-model="result.state" ng-change="submitEdit(result)">-->
                                    <!--&lt;!&ndash;<select class="form-control input-sm" ng-model="request.state" ng-change="editingRequest.state=request.state">&ndash;&gt;-->
                                    <!--<option value="Pending">Pending</option>-->
                                    <!--<option value="Annotating">Annotating</option>-->
                                    <!--<option value="Reviewing">Reviewing</option>-->
                                    <!--&lt;!&ndash;<option value="Finished">Finished</option>&ndash;&gt;-->
                                    <!--&lt;!&ndash;<option value="Modifying">Modifying</option>&ndash;&gt;-->
                                <!--</select>-->
                            <!--</td>-->

                            <!--<td>-->

                                <!--<div class="btn-group btn-group-sm" ng-show="result.state == 'Finished' || result.state == 'Finished_Basic' || result.state == 'Modifying'" uib-dropdown dropdown-append-to-body="true">-->
                                    <!--<button id="single-button" type="button" class="btn btn-info" uib-dropdown-toggle>-->
                                        <!--JSON <span class="caret"></span>-->
                                    <!--</button>-->
                                    <!--<ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="single-button">-->
                                        <!--<li role="menuitem" ng-hide="$last && result.state != 'Finished' && result.state != 'Finished_Basic' && result.state != 'Accepted'" ng-repeat="version in result.version"><a download ng-href="{{download(result, 'JSON', version.version_number)}}" target="_self"><i><b>V{{version.version_number}}</b></i>&nbsp;&nbsp;&nbsp;-&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&nbsp;&nbsp;&nbsp;{{showDownloadBtn(version.upload_time)}}</a></li>-->
                                    <!--</ul>-->
                                <!--</div>-->

                                <!--<div class="btn-group btn-group-sm" ng-show="result.state == 'Modifying' || result.state == 'Reviewing' || result.state == 'Pending'">-->
                                    <!--<label ng-show="result.state == 'Modifying' || result.state == 'Reviewing' || result.state == 'Pending'" class="btn btn-default btn-file" ng-click="disableEdit()">-->
                                        <!--Upload <input type="file" name="annotation" multiple style="display: none;" onchange="angular.element(this).scope().upload(this)">-->
                                    <!--</label>-->
                                    <!--<button ng-show="result.state == 'Modifying'" class="btn btn-default" type="button" uib-popover="{{result.version[result.version.length-1].comments}}" popover-trigger="click outsideClick" popover-append-to-body="true">Comments</button>-->
                                    <!--<span>&nbsp;&nbsp;&nbsp;</span>-->
                                    <!--<input type="checkbox" ng-click="disableEdit()" ng-checked="result.fully_annotated" ng-model="result.fully_annotated" />-->
                                    <!--Fully Annotated-->
                                <!--</div>-->

                                <!--&lt;!&ndash;<div class="btn-group btn-group-sm" ng-show="request.state == 'Finished'">&ndash;&gt;-->
                                    <!--&lt;!&ndash;<button class="btn btn-default" type="button" ng-click="accept(result, $index)">Accept</button>&ndash;&gt;-->
                                    <!--&lt;!&ndash;<button class="btn btn-default" type="button" ng-click="modify(result, $index)">Modify</button>&ndash;&gt;-->
                                <!--&lt;!&ndash;</div>&ndash;&gt;-->

                                <!--<div class="btn-group btn-group-sm" ng-show="result.isEdit">-->
                                    <!--<button class="btn btn-default" type="button" ng-click="cancel(result)">Cancel</button>-->
                                <!--</div>-->

                            <!--</td>-->
                        <!--</tr>-->
                        <!--<tr ng-show="$index % 10 == 0"><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td></tr>-->

                        </tbody>
                    </table>
                </div>
            </div>

            <div class="well" ng-show="tab.download">

                <h3></h3>

                <table class="table table-condensed table-hover">
                    <thead>
                    <tr>
                        <th>Batch Title</th>
                        <th>Created Time &nbsp; (Local)</th>
                        <th></th>
                    </tr>
                    </thead>

                    <tbody>
                    <tr class="pointer_table" ng-repeat="item in batch">
                    <!--<tr class="pointer_table" ng-repeat="item in batch | orderBy : batchCreateTime">-->


                    <td>{{item.batchName}}</td>
                        <td>{{batchCreatedData(item.batchCreateTime)}}</td>
                        <td>
                            <div class="btn-group btn-group-sm">
                                <a download ng-href="{{downloadBatch(item)}}" target="_self" class="btn btn-info" >Download</a>
                                <button class="btn btn-danger" type="button" ng-click="deleteBatch(item)">&nbsp;&nbsp;&nbsp;Delete&nbsp;&nbsp;&nbsp;</button>
                                <label class="btn btn-success btn-file">
                                    &nbsp;&nbsp;&nbsp;Upload&nbsp;&nbsp;&nbsp; <input type="file" name="batch" multiple style="display: none;" onchange="angular.element(this).scope().batchUpload(this)">
                                </label>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>

        </div>

    </div>
</div>
